@font-face {
    font-family: Intel Clear Reg;
    src: url(type/IntelClear_WLat_Rg.ttf) format("truetype");
}

body {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    font-family: Intel Clear Reg, arial, helvetica, sans-serif;
    font-size: 9pt;
    color: black;
    background: white;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

li {
    margin: 0;
    padding: 0;
}

label {
    display: block;
    color: windowtext;
    background-color: window;
    margin: 0;
    padding: 0;
    width: 100%;
}

label:hover {
    background-color: highlight;
    color: highlighttext;
}

a:visited {
    text-decoration: none;
    color: #04f;
}

a:link {
    text-decoration: none;
    color: #00aeef;
}

a:hover {
    color: #005a9d;
}

h1 {
    font-size: large;
    font-weight: bold;
    margin: 15px 0;
    padding: 0;
    color: black;
}

h2 {
    font-size: 9pt;
    font-weight: bold;
    color: #1044f0;
    background-color: #B9D8EF;
    width: fit-content;
    margin: 0 0 -2px 0;
    padding: 8px 50px;
    border-radius: 8px 8px 0 0;
}

p {
    margin: 0;
}

td {
    font-size: 9pt;
}

th {
    font-size: 9pt;
}

th:hover {
    cursor: pointer;
    background: #aaa;
}

.progressbar {
    position: fixed;
    top: 67px;
    left: 0;
    right: 0;
    height: 2px;
    background: #214380;
}

.in {
    margin-left: 40px;
}

.log {
    background: #B9D8EF;
}

.log1 {
    background: #B9D8EF;
}

.log tbody tr:nth-child(odd) {
    background: #e8eefe;
}

.nav1 {
    padding: 1px 0 1px 8px;
    margin: 0;
    font-weight: bold;
    color: black;
    white-space: nowrap;
    cursor: pointer;
}

.nav2 {
    margin-left: 32px;
    margin-top: 0;
    color: black;
    cursor: pointer;
}

.r {
    font-size: 11pt;
}

.r0 {
    background: white;
}

.r1 {
    border-bottom: 1px solid #a810a8;
    text-align: left;
}

.r2 {
    text-align: left;
}

.r3 {
    border-bottom: 1px solid #a810a8;
    text-align: left;
}

.r3:hover {
    background-color: #6b9dc7;
    cursor: pointer;
}

.spread {
    height: 100%;
    width: 100%;
    background-color: white;
}

.timer {
    border: 1px solid #B9D8EF;
    background-color: #B9D8EF;
}

.tm {
    font-size: 7pt;
}

.top1 {
    font-size: 14pt;
    font-weight: bold;
    color: white;
    margin-top: 11px;
}

.top2 {
    color: white;
}

.warn {
    font-weight: bold;
    color: #c00000;
}

.icon1 {
    width: 14px;
    height: 15px;
    background: url("../images/images-intelcommander/info.gif") no-repeat;
}

.icon2 {
    width: 14px;
    height: 15px;
    background: url("../images/images-intelcommander/caution.gif") no-repeat;
}

.icon3 {
    width: 14px;
    height: 15px;
    background: url("../images/images-intelcommander/warning.gif") no-repeat;
}

.itemBar {
    padding: 7px;
    min-height: 20px;
    margin-top: 4px;
    margin-right: 8px;
    width: auto;
    border-radius: 8px;
    background-color: #6ba0ca;
    cursor: pointer;
}

.groupItem {
    cursor: pointer;
    width: auto;
    border-radius: 5px;
    background-color: white;
    height: auto;
    margin: 6px;
    border: 2px solid #0071C5;
}

.glvClickArea {
    display: flex;
    padding: 8px;
}

.glvClickArea:hover {
    background: #005A9D;
    color: white;
}

.glvClickArea div,
.glvClickArea img {
    display: inline-flex;
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
}

.computerListItemView {
    cursor: pointer;
    width: auto;
    height: auto;
    border-radius: 5px;
    background-color: #B9D8EF;
    margin: 6px;
    padding: 4px;
}

.computerListItemView:hover {
    background-color: #005A9D;
    color: white;
}

.computerItem {
    display: flex;
    justify-content: space-between;
    margin: 2px;
}

.computerItem img {
    align-self: center;
}

.computerItem div {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 10px;
}

.computerItem div:last-child {
    margin-right: 10px;
}

.clivDetails {
    padding: 10px;
}

.certificateitem {
    cursor: pointer;
    width: auto;
    border-radius: 5px;
    background-color: gray;
    height: auto;
    margin: 4px;
    padding: 2px;
}

.certificateitem:hover {
    background-color: #83827b;
}

.hiddenCustomContextMenu {
    display: none;
    position: fixed;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.35);
    list-style-type: none;
    padding: 8px 0;
    margin: 0;
    font-size: small;
    border-radius: 4px;
}

.us {
    -webkit-touch-callout: initial;
    -webkit-user-select: auto;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.hyperLink {
    cursor: pointer;
    color: blue;
}

.authDialog div{
    margin-top: 6px;
    font-size: small;
    font-weight: bold;
}

.serialOverLanView .fontSize {
    font-size: 140%;
    cursor: pointer;
}

.serialOverLanView .solErrorBanner {
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 1%;
    background-color: #B9D8EF;
    font-size: small;
}

.serialOverLanView .canvasStyle {
    background: black;
    display: block;
    width: 100%;
}

.solTerminal {
    margin: 0;
    background-color: black;
}

.remoteDesktopView .rotateFontSize {
    font-size: 140%;
    cursor: pointer;
    padding: 0 5px;
    display: flex;
    align-items: center;
}

.remoteDesktopView .canvasStyle {
    background-color: black;
    display: block;
    margin: auto;
}

.remoteDesktopView .canvasHorizontalWidth {
    width: 100%;
}

.remoteDesktopView .canvasHorizontalWidthFullScreen {
    width: 100%;
}

.remoteDesktopView .canvasVerticalHeight {
    height: 74vh;
}

.remoteDesktopView .canvasVerticalHeightFullScreen {
    height: calc(100vh - 58px);
}

.remoteDesktopView .kvmErrorBanner {
    cursor: pointer;
    padding: 6px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
    text-decoration: underline;
    background: #CE1212;
}

.remoteDesktopView .kvmBanner {
    padding: 6px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
    background: #857b7b;
}

.remoteDesktopView .kvmLowerBppInformation {
    background-color: #FFD100;
    padding: 2px;
    border-radius: 5px;
    margin: 3px 0px;
}

.remoteDesktopView .kvmLowerBppInformation a {
    margin-left: 6px;
    color: black;
    font-weight: bold;
}

.focusTool {
    color: transparent;
    border: 3px dotted rgba(255, 0, 0, .2);
    position: absolute;
    border-radius: 5px;
    z-index: 0
}

.remoteDesktopSettings td {
    padding: 6px;
}

.remoteDesktopSettings select {
    width: 100%;
}

.scrollCheckbox div {
    border: 1px solid grey;
    width: 100%;
    height: auto;
    min-width: 200px;
    max-height: 100px;
    overflow-y: auto;
}

.storageRedirection td {
    min-width: 65px;
    padding: 5px;
}

.storageRedirection .storageRedirectText {
    padding: 5px;
}

.storageRedirection select {
    width: 100%;
}

.tableDialog .realmsScrollCheckBox {
    margin: 10px;
    background-color: white;
}

.tableDialog select,
.tableDialog table {
    width: 100%;
}

.tableDialog .inputFields {
    width: 100%;
}

.informationFont {
    font-size: x-small;
    font-style: italic;
    margin-top: 6px;
}

.italicFont {
    font-style: italic;
    margin-left: 1%;
    font-size: medium;
}

.manageText {
    margin-left: 1%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.buttonStyle {
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.button {
    background-color: #00aeef;
    border: none;
    color: white;
    font-size: 0.875em;
    text-align: center;
    min-width: 96px;
    border-radius: 2px;
    padding: 4px 12px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #005a9d;
    color: white;
}

.button:disabled {
    background-color: rgba(187, 187, 187, 0.65);
}

.errorMessage {
    color: red;
    font-style: italic;
    font-size: 75%;
}

.removeUserAccount div {
    margin: 3px 0 3px 0;
}

.removeUserAccount span {
    font-weight: bolder;
}

.spaceView .boldFontWeight {
    font-weight: bold;
}

.listItem {
    cursor: pointer;
    width: 96%;
    border-radius: 5px;
    height: auto;
    margin: 10px auto;
    padding: 2px;
    background-color: #8E9BAE;
}

.listItem:hover {
    background-color: #A4AFBE;
}

.lisItemDetails {
    display: inline-block;
    font-weight: normal;
}

.listItemPadding {
    padding: 6px;
}

.listItemPaddingCertListItemView {
    padding: 3px;
}

.listItemView {
    display: flex;
    flex: 33%;
    padding: 6px;
}

.listItemBar {
    display: flex;
    font-weight: bold;
}

.certListItemViewBackground {
    background-color: #A4AFBE;
}

.certListItemViewBackground:hover {
    background-color: #8E9BAE;
}

.constraintViolation {
    color: black;
    font-style: italic;
    font-size: 75%;
}

.hiddenCustomMenu {
    display: none;
    position: fixed;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.35);
    list-style-type: none;
    padding: 8px 0;
    margin: 0;
    font-size: small;
    border-radius: 4px;
}

.menuBarPlaceHolder {
    width: 100%;
}

.menuBar {
    background-color: #d6d6d6;
}

.menuBar span {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0 7px;
    vertical-align: middle;
    cursor: pointer;
    font-size: 14px;
}

.menuBar span:hover {
    background-color: #8CDAFA;
}

.hiddenMenuItems {
    display: none;
    position: absolute;
    margin: 0;
    padding: 8px 0;
    left: 0;
    list-style-type: none;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.35);
    border-radius: 0 0 4px 4px;
}

.hiddenMenuItems li {
    margin: 0;
    padding: 3px 20px;
    white-space: nowrap;
    font-size: 12px;
}

.hiddenMenuItems li:hover {
    background-color: #B9D8EF;
}

.showMenuItems {
    display: block;
}

.hiddenCustomMenu {
    display: none;
    position: fixed;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.35);
    list-style-type: none;
    padding: 8px 0;
    margin: 0;
    font-size: small;
    border-radius: 4px;
}

.showCustomMenu {
    display: block;
}

.showCustomMenu li {
    padding: 3px 25px;
    white-space: nowrap;
    color: black;
}

.showCustomMenu li:hover {
    background-color: #8CDAFA;
}

.menuBarContainer {
    position: absolute;
    left: 0;
    background: rgba(255, 255, 255, 1);
    border-radius: 0 0 4px 4px;
}

.spaceView {
    margin: 0 16px;
}

.tableView {
    width: 100%;
    border-spacing: 0;
    border: solid 3px #B9D8EF;
    border-radius: 5px;
    margin-bottom: 40px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.35);
}

.tableView tr:nth-child(even) {
    background: #B9D8EF
}

.tableView tr:nth-child(odd) {
    background: #FFF
}

.tableView td {
    padding: 6px;
    vertical-align: middle;
}

.tableView td:nth-child(odd) {
    width: 33%;
}

.logTableView {
    width: 100%;
    border-spacing: 0;
    border: solid 3px #484848;
    border-radius: 5px;
    margin-bottom: 40px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.35);
}

.logTableView tr {
    cursor: pointer;
}

.logTableView tr:hover {
    background: #CCC;
}

.logTableView tr:first-child {
    background-color: #484848;
    color: white;
}

.logTableView td {
    padding: 6px;
    vertical-align: middle;
    border-left: solid 1px #9E9E9E;
}

.logTableView td:first-child {
    border: none;
}

.dialog {
    background-color: #eee;
    box-shadow: 0 0 15px #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    border-radius: 5px;
    position: fixed;
    width: auto;
}

.topDialog {
    width: 100%;
    background-color: #003366;
    color: #fff;
    border-radius: 5px 5px 0 0;
    line-height: 20px;
}

.dialogTitle {
    margin-left: 10px;
}

.dialogClose {
    float: right;
    margin-right: 5px;
    cursor: pointer;
}

.dialogContent {
    margin: 8px 8px 0 8px;
}

.dialogButtonArea {
    margin: 10px;
    float: right;
}

.dialogButtonArea input {
    width: 80px;
}

.inputOrSelectBasedOnTablesDialog {
    width: 100%;
}

.inputOrSelectBasedOnTablesDialog select {
    width: 100%;
}

.inputOrSelectBasedOnTablesDialog input {
    width: 98%;
}

.displayInlineBlock {
    display: inline-block;
}

.userConsentContent {
    transform: translate(-50%, -50%);
}

.eventLogWarningIcon {
    background: url("../images/images-intelcommander/warning.gif") no-repeat center;
}

.eventLogInformationIcon {
    background: url("../images/images-intelcommander/info.gif") no-repeat center;
}

.eventLogCautionIcon {
    background: url("../images/images-intelcommander/caution.gif") no-repeat center;
}

.powerCmdDialog{
    margin: 10px;
    min-width: 220px;
}
.powerCmdDialog > div, button{
    margin: 6px;
}

.eventLogActionsBar {
     background: #8392A6;
     padding: 3px;
     border-radius: 5px;
     margin-bottom: 10px;
     display: flex;
     justify-content: space-between;
 }

.eventLogActionsBar input {
    padding: 2px 5px;
    margin: 3px;
}

.eventLogErrorInformation {
    background: #F3D54E;
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-size: small;
    font-weight: bold;
}

.filterOptionsBar {
    width: 100%;
    background: #d6d6d6;
    color: black;
    padding: 3px;
    margin-bottom: 20px;
    display: flex;
}

.filterOptionsBarContainer div, span {
    display: inline-flex;
    margin: 1px;
}

.filterOptionsBarContainer div:first-child {
    margin-left: 3px;
}

.filterOptionsBarContainer input[type="button"] {
    margin-left: 2px;
}

.noKnownComputers {
    text-align: center;
    margin-top: 36px;
    color: gray;
}

.noKnownComputers span {
    font-size: 20px
}

.noKnownComputers div {
    margin: 4px;
}

.noKnownComputers a {
    cursor: pointer
}

.noMatchSearchCriteria{
    font-size: large;
    text-align: center;
    background-color: #F3D54E;
    padding: 3px;
}

.computerList {
    font-size: 14px;
}

.auditLogDetailsContainer {
    border: 3px solid #B9D8EF;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 40px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.35);
}

.auditLogDetails {
    background: #A4AFBE;
    text-align: center;
    font-size: medium;
    font-style: italic;
    border-radius: 5px;
    cursor: pointer;
}

.auditLogDetails > div:first-child:hover {
    background-color: #8E9BAE;
    border-radius: 5px;
}

.iderDialog div {
    margin: 10px;
}

.loaderProgress {
    margin: 2px;
    display: inline-block;
}

.loaderProgress div {
    display: inline-flex;
}

.loader {
    border: 3px solid white;
    border-top: 3px solid #0071C5;
    border-right: 3px solid #0071C5;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 2s linear infinite;
}

.disableBackground {
    position: relative;
    pointer-events: none;
    cursor: none;
}

.disableNavBar {
    z-index: -1;
    pointer-events: none;
    cursor: none;
}

@keyframes spin {
    100% {
        transform: rotate(720deg);
    }
}

.importDialog div {
    margin-bottom: 10px;
}

.containerMainHeader {
    width: 100%;
    margin: auto;
    position: fixed;
    z-index: 1;
}

.containerBanner {
    margin: auto;
    width: 100%;
    text-align-last: justify;
}

.headerIMCTitle {
    display: inline-block;
    margin: 20px 0 0 20px;
}

.headerLogo {
    display: inline-block;
    margin: 20px 20px 0 0;
}

.headerVersion {
    font-size: 9pt;
    margin: 0 0 0 25px;
    padding: 0;
    color: white;
}

.computerView {
    height: 100%;
    margin-left: 160px;
}

.clearFloats {
    clear: both;
}

.marginBottom25px {
    margin-bottom: 25px;
}

.marginLeftOnePercent{
    margin-left: 1%;
}

.tabTable {
    font-size: 9pt;
    font-weight: bold;
    color: black;
    background-color: #B9D8EF;
    width: fit-content;
    margin: 0 0 -2px 0;
    padding: 8px 50px;
    border-radius: 8px 8px 0 0;
}

.fullscreenContainer {
    width: auto;
    height: auto;
    background-color: black;
    border: 1px solid #CCC;
}

.widthImcAndEma{
    width: 100%;
    margin: auto;
}

.floatRight {
    display: inline-block;
    float: right;
}

.floatLeft {
    display: inline-block;
    float: left;
}

.userAccountsContents {
    border-radius: 8px;
    border: solid 2px #B9D8EF;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.35);
}

.alarmClockContents {
    border-radius: 8px;
    border: solid 2px #B9D8EF;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.35);
}

.alarmClockInfo {
    font-weight: bold;
    margin-left: 1%;
}

.collapsibleItemInfoBackground {
    background-color: #e1e5e3
}

.networkCertListContents {
    border-radius: 8px;
    border: solid 2px #B9D8EF;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.35);
}

.sentencePadding {
    margin: 10px;
}

.securityWarningField{
    background: #F3D54E;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    font-size: smaller;
    max-width: 230px;
}
