@import url("styles-base-intelcommander.css");

.header {
    position: fixed;
    top: 18px;
    width: 100%;
    background: linear-gradient(to bottom, #095fa8 0%, #214380 100%, #cdd7d6); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.fullcell {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.maincell {
    position: fixed;
    top: 0;
    right: 3px;
    bottom: 0;
    left: 175px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 2px;
    vertical-align: top;
}

.navbar {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 156px;
    background: #484848;
    vertical-align: top;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar input {
    margin: 10px;
    width: 140px;
}

.navBarItem {
    padding:  5px 0 5px 10px;
    color: white;
    font-size: small;
}

.navBarItem:hover {
    background: #252525;
    cursor: pointer;
}

.itemViewLoading {
    margin: 15px;
}

.tlsNotification {
    text-align:center;
    color:darkblue;
    cursor:pointer;
    display:none;
    padding: 5px;
    margin-bottom:5px;
    background:#74d25d
}

.flexContainerSpaceBetweenGray{
    display: flex;
    background-color: #ccc;
    justify-content: space-between;
}

.flexContainer{
    display: flex;
    background-color: #ccc;
}

.toolbarElementStyling input,
.toolbarElementStyling span,
.toolbarElementStyling select{
    padding: 2px 5px;
    margin: 3px;
}

.remoteDesktopView .container input,
.remoteDesktopView .container span {
    padding: 0 5px;
    margin: 4px;
}

.fullscreenContainer {
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
}

.widthImcAndEma {
    width: 93%;
    margin: auto;
}